html {
    /* footer support */
    position: relative;
    min-height: 100%;
}
.header {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: var(--spacing-sm);
}

a {
    text-decoration: none;
}